body {
  font-family: "Noto Sans JP","Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size: 20px;
  letter-spacing: .05em;
  color: #333;
}

a {
  transition: opacity .3s;
  text-decoration: none;
  color: #4b8beb;
  /* font-weight: bold; */
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}



.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

/*--------------------------------
 レイアウト
---------------------------------*/
.wrapper {
  padding-top: 73px;
}

.section {
  width: 100%/* 98% */;
  padding: 120px 0;
  margin: 0 auto/* 15px auto */;
  background-color: #f0f0fb/* #F7F7F7 */;
}

.section:nth-of-type(odd) {
  background-color: #e3e1ff;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 40px;
}

/*--------------------------------
 見出し
---------------------------------*/
.title {
  font-family: "Alegreya Sans SC";
  font-size: 58px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: .15em;
  color: #333;
}

.subtitle {
  font-family: "Alegreya Sans SC";
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: .05em;
  color: #333;
}

.class-title {
  font-size: 32px;
  font-weight: bold;
  margin: 0 0 20px 50px;
}

.lead {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 30px;
}

/*--------------------------------
ヘッダー
---------------------------------*/
.header {
  font-family: "Alegreya Sans SC";
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #FFF;
  box-shadow: 0 5px 10px -6px rgba(0,0,0,.1);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.header-logo {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.2;
  margin-right: 20px;
  letter-spacing: .05em;
}

.header-logo a {
  color: #333;
}

.gnav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.gnav-item:not(:last-child) {
  margin-right: 20px;
}

.gnav-item a {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 0;
  transition: .3s;
  letter-spacing: .05em;
  color: #333;
}
.gnav-item a:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  content: "";
  transition: .3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #333;
}

.gnav-item a:hover:after {
  width: 100%;
}

/*--------------------------------
 メインビジュアル
---------------------------------*/
.mv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%/* 98% */;
  height: 85vh;
  margin: 0 auto/* 15px auto */;
  text-align: center;
  /* background-color:  #CBD0FF; */
  background-image: url(../img/mvback.jpg);
  background-size: cover;
  background-position: 50%;
}
.mv a {
  color: #ff758c;
}

.mv-container {
  padding: 0 40px;
}

.mv-icon-image {
  border-radius: 50%;
  width: 280px;
  height: 280px;
}

.mv-title {
  font-family: "Alegreya Sans SC";
  font-size: 92px;
  font-weight: bold;
  color: #e0deff;
  line-height: 1.2;
  margin-bottom: 25px;
  letter-spacing: .1em;
}

.mv-subtitle {
  font-family: "Alegreya Sans SC";
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 40px;
  letter-spacing: .08em;
}

.mv-text {
  font-size: 18px;
  color: #FFFFFF;
  line-height: 1.8;
  margin: 0 0 20px 0;
}

/*--------------------------------
 PR
---------------------------------*/
.pr {
  text-align: center;
}

.pr-content {
  width: 70%;
  aspect-ratio: 16/9;
}

.pr-text {
  font-size: 20px;
  line-height: 1.8;
  padding-bottom: 30px;
}

.pr-containter {
  margin: 0 auto 100px auto;
  text-align: center;
}


.if-soundcloud {
  width: 70%;
  aspect-ratio: 1.5 / 1;
}

.if-youtube {
  width: 99%;
  aspect-ratio: 16 / 9;
  border-radius: 2%;
}

/*--------------------------------
 Works
---------------------------------*/
.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
.works-list:last-child {
  margin-bottom: 0px;
}

.works-item {
  width: 31.74603%;
  margin-right: 1.58730%;
  margin-bottom: 40px;
  color: #333;
}
.works-item:last-child {
  margin-bottom: 0;
}
.works-item:hover {
  opacity: .9;
}
.works-item:nth-child(3n) {
  margin-right: 0;
}

.works-img img {
  border: 1px solid #e6e6e6;
  border-radius: 2%;
}

.works-name {
  font-size: 18px;
  font-weight: bold;
  margin-top: 8px;
}

.streaming:after {
  content: "Streaming now";
  margin-left: 8px;
  font-size: 10.5px;
  font-style: italic;
  font-weight: normal;
  letter-spacing: 0;
  color: #5980ec;
}

.works-info {
  font-size: 15px;
  margin-top: 5px;
  color: #555;
}

/*--------------------------------
 achievement
---------------------------------*/
.achievement-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -50px;
}

.achievement-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 48%;
  margin-bottom: 50px;
}
.achievement-item:last-child {
  margin-bottom: 0;
}

.achievement-img {
  width: 90px;
  height: auto;
  margin-right: 20px;
}

.achievement-img img {
  border-radius: 50%;
}

.achievement-body {
  flex: 1;
}

.achievement-name {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.achievement-text {
  font-size: 17px;
  line-height: 1.8;
}

/*--------------------------------
 About
---------------------------------*/
.profile {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}
.profile-img {
  width: 20%;
  margin-right: 30px;
  border-radius: 50%;
}
.profile-img img {
  border-radius: 50%;
}
.profile-body {
  flex: 1;
}

.profile-body p {
  font-size: 15px;
  line-height: 1.8;
}

.profile-body p:not(:last-child) {
  margin-bottom: 30px;
}

/*--------------------------------
 links
---------------------------------*/
.links-table {
  margin: -25px auto;
  border-spacing: 0 25px;
}
.links-table td:nth-child(1) {
  text-align: right;
  font-size: 22px;
  padding-right: 15px;
}
.links-table td:nth-child(2) {
  text-align: left;
  font-size: 10px;
  font-weight: bold;
  font-style: italic;
  color: #888;
  padding-right: 80px;
}
.links-table td:nth-child(3) {
  text-align: left;
  font-size: 18px;
}

.links-text {
  margin-top: 10px;
}

.links-icon-image {
  height: 30px;
}

/*--------------------------------
 フッター
---------------------------------*/
.footer {
  font-family: "Alegreya Sans SC";
  padding: 30px;
  background-color: #181a2b;
}

.copyright {
  font-size: 14px;
  text-align: center;
  color: #797979;
}

/*--------------------------------
 下層：Worksページ
---------------------------------*/
.article {
  padding: 80px 0;
}

.article-container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}

.article-title {
  margin-bottom: 30px;
  text-align: center;
}

.article-body {
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.article-body h3 {
  position: relative;
  font-size: 18px;
  margin-bottom: 5px;
  padding-left: 1em;
}

.article-body h3:not(:first-child) {
  margin-top: 50px;
}

.article-body h3::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  content: "";
  border-radius: 3px;
  background-color: #333;
}

.article-body p {
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 30px;
}

.home-link {
  text-align: center;
}

/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }

  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }

  /* 見出し */
  .title {
    font-size: 42px;
    margin-bottom: 30px;
  }

  .subtitle {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .lead {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 20px;
  }

  /* レイアウト */
  .wrapper {
    padding-top: 57px;
  }

  .section {
    padding: 90px 0;
  }

  .container {
    padding: 0 5px;
  }

  /* ヘッダー */
  .header .container {
    padding: 15px;
  }

  .header-logo {
    font-size: 20px;
    margin-right: 15px;
  }

  .gnav-item {
    display: none;
  }

  /*  メインビジュアル */
  .mv {
    height: 75vh;
  }

  .mv-container {
    padding: 0 20px;
  }

  .mv-title {
    font-size: 48px;
  }
  .mv-subtitle {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .mv-text {
    font-size: 14px;
    line-height: 1.7;
  }

  .mv-icon-image {
    width: 140px;
    height: 140px;
  }

  /* PR */
  .pr-content {
    width: 90%;
  }

  .pr-text {
    font-size: 14px;
  }

  /* Works */
  .works-img img {
    border: 1px solid #e6e6e6;
    border-radius: 4%;
  }

  .works-name {
    font-size: 12px;
    margin-top: 3px;
  }

  .streaming:after {
    margin-left: 5px;
    font-size: 9.5px;
  }

  .works-info {
    font-size: 10.5px;
    margin-top: 3px;
  }

  .works-list {
    justify-content: space-between;
    margin-bottom: 90px;
  }
  .works-list:last-child {
    margin-bottom: 0px;
  }

  .works-item {
    flex: 0 0 49.5%;
    margin-right: 0;
    margin-bottom: 18px;
  }

  /* achievement */
  .achievement-list {
    display: block;
    margin-bottom: 0;
  }

  .achievement-item {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 35px;
  }

  .achievement-name {
    margin-bottom: 5px;
    font-size: 14px;
  }

  .achievement-text {
    font-size: 13px;
    line-height: 1.7;
    margin-right: 15px;
  }

  .achievement-img {
    width: 70px;
    height: auto;
    margin-right: 20px;
  }

  /* About */
  .profile {
    display: block;
  }
  .profile-img {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .profile-body p {
    font-size: 14px;
    line-height: 1.7;
  }

  .profile-body p:not(:last-child) {
    margin-bottom: 20px;
  }

  /* Links */
  .links-table {
    margin: -20px auto;
    border-spacing: 0 20px;
  }
  .links-table td {
    display: block;
    width: 100%;
  }
  .links-table td:nth-child(1) {
    text-align: left;
    font-size: 16px;
  }
  .links-table td:nth-child(2) {
    font-size: 9.5px;
    padding-bottom: 5px;
  }
  .links-table td:nth-child(3) {
    text-align: left;
    font-size: 14px;
    word-break: break-all;
  }

  /* フッター */
  .footer {
    padding: 20px;
  }

  /* 下層ページ */
  .article {
    padding: 50px 0;
  }

  .article-body h3 {
    font-size: 16px;
    padding-left: .8em;
  }

  .article-body h3:not(:first-child) {
    margin-top: 30px;
  }

  .article-body p {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 20px;
  }
}

/* アニメーションスタイル */
/* ---------------------------- */

/* アニメーション前 */
.u-fade-type-up{
  transform: translateY(50px);
  opacity: 0;
}

/* トリガー発火でis-activeを付与 */
.u-fade-type-up.is-active{
  transition: 0.7s;
  transform: translateY(0);
  opacity: 1;
}
